/* VARIABLES */
/* Fuentes */
/* Colores */
/* UTILIDADES */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(/assets/img/parque_login.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ELEMENTOS BASE */
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

.login__titulo {
  font-size: 4rem;
  color: #fff;
}

.login__subtitulo {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffffcb;
}

.signup__titulo {
  color: #fff;
  padding-top: 2rem;
}

.signup__subtitulo {
  color: #ffffffcb;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  margin-top: .8rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffffcb;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-transition: 450ms;
  transition: 450ms;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signup__a {
  margin: 2.8rem 0 2.6rem 0;
  padding-bottom: 2rem;
}

a.btn.btn--verde:hover {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 40px;
  background-color: #0073ba;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 450ms;
  transition: 450ms;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #0073ba70;
}

.btn--verde {
  margin-top: .8rem;
  background-color: #8bb600;
}

.btn--verde:hover {
  background-color: #8bb60070;
}

/* COMPONENETES */
.login {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  body {
    background-image: url(/assets/img/parque.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.32);
  }
  .login__texto {
    width: 88%;
  }
}

.login__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

.login__figure i {
  margin-top: 2rem;
  font-size: 6rem;
  color: #fff;
}

.login__texto {
  text-align: center;
  height: 20%;
}

.login__form {
  height: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 88%;
  text-align: center;
}

.input {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ffffffcb;
  background-color: transparent;
  padding: 1rem 3rem;
}

.input::-webkit-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.input:-ms-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.input::-ms-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.input::placeholder {
  color: #ffffffcb;
  text-align: center;
}

.input:focus {
  outline: none;
}

.login__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.signup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

.signup__form--select {
  font-family: "Open Sans", sans-serif;
  text-align-last: center;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ffffffcb;
  background-color: transparent;
  padding: 1rem 3rem;
}

.signup__form--select::-webkit-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.signup__form--select:-ms-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.signup__form--select::-ms-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.signup__form--select::placeholder {
  color: #ffffffcb;
  text-align: center;
}

.signup__form--select:focus {
  outline: none;
}

.select-option {
  text-align: center;
  color: #000;
}

input.input-date.input {
  margin: 0;
  width: 100%;
  text-align: center;
}

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
}

.signup__form input, .signup__form select, .signup__form button {
  margin-top: 1rem;
}

label {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffffcb;
}

@media (min-width: 768px) {
  main.signup.login {
    max-width: 420px;
  }
}
/*# sourceMappingURL=styles.css.map */