/* VARIABLES */
/* Fuentes */
/* Colores */
/* ELEMENTOS BASE */
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

.login__titulo {
  font-size: 4rem;
  color: #fff;
}

.login__subtitulo {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffffcb;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  margin-top: .8rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffffcb;
  text-decoration: none;
  font-size: 1.8rem;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  display: inline-block;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 40px;
  background-color: #0073ba;
  color: #fff;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn--verde {
  margin-top: .8rem;
  background-color: #8bb600;
}

/* COMPONENETES */
.login {
  background-image: url(/assets/img/parque_login.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

.login__figure i {
  margin-top: 2rem;
  font-size: 6rem;
  color: #fff;
}

.login__texto {
  text-align: center;
  height: 20%;
}

.login__form {
  height: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 88%;
  text-align: center;
}

.login__form--input {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ffffffcb;
  background-color: transparent;
  padding: 1rem 3rem;
}

.login__form--input::-webkit-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.login__form--input:-ms-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.login__form--input::-ms-input-placeholder {
  color: #ffffffcb;
  text-align: center;
}

.login__form--input::placeholder {
  color: #ffffffcb;
  text-align: center;
}

.login__form--input:focus {
  outline: none;
}

.login__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

/* UTILIDADES */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=styles.css.map */