.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 768px){
    body {
        background-image: url(/assets/img/parque.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login {
        background-image: none;
        background-color: rgba($color: #000000, $alpha: 0.32);
    }
    .login__texto {
        width: 88%;
    }
}
.login__figure {
    display: flex;
    align-items: center;
    height: 40%;
}
.login__figure i {
    margin-top: 2rem;
    font-size: 6rem;
    color: $blanco;
}
.login__texto {
    text-align: center;
    height: 20%;
}
.login__form {
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    text-align: center;
}
.input {
    text-align: center;
    font-size: 1.6rem;
    color: $blanco;
    display: inline-block;
    border: none;
    border-bottom: 1px solid $blanco-transparente;
    background-color: transparent;
    padding: 1rem 3rem;
    &::placeholder {
        color: $blanco-transparente;
        text-align: center;
    }
    &:focus {
        outline: none;
    }
}
.login__botones {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.signup {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.signup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}
.signup__form--select {
    font-family: $texto;
    text-align-last: center;
    text-align: center;
    font-size: 1.6rem;
    color: $blanco;
    display: inline-block;
    border: none;
    border-bottom: 1px solid $blanco-transparente;
    background-color: transparent;
    padding: 1rem 3rem;
    &::placeholder {
        color: $blanco-transparente;
        text-align: center;
    }
    &:focus {
        outline: none;
    }
}
.select-option {
    text-align: center;
    color: $negro;
}
input.input-date.input {
    margin: 0;
    width: 100%;
    text-align: center;
}
input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    position: absolute;
}
.signup__form input, .signup__form select, .signup__form button {
    margin-top: 1rem;
}
label {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-family: $texto;
    color: $blanco-transparente;
}
@media (min-width: 768px){
    main.signup.login {
        max-width: 420px;
    }
}