.btn {
    display: inline-block;
    border: none;
    font-family: $texto;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: 40px;
    background-color: $azul;
    color: $blanco;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
.btn--verde {
    margin-top: .8rem;
    background-color: $verde;
}