a {
    margin-top: .8rem;
    font-family: $texto;
    color: $blanco-transparente;
    text-decoration: none;
    font-size: 1.8rem;
    transition: 450ms;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}