a {
    margin-top: .8rem;
    font-family: $texto;
    color: $blanco-transparente;
    text-decoration: none;
    font-size: 1.8rem;
    transition: 450ms;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
.signup__a {
    margin: 2.8rem 0 2.6rem 0;
    padding-bottom: 2rem;
}
a.btn.btn--verde:hover {
    text-decoration: none;
}